/* CSS RESET
================================================================*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,blockquote,th,td,header,footer,nav,article{margin:0;padding:0;}
body{font-size:100%;line-height:1.5;font-family:Helvetica,Arial,sans-serif;-webkit-user-select:none;-webkit-touch-callout:none;}
header,footer,nav,article{display:block;}
ol,ul{list-style:none;}
fieldset,img,video,form{border:0;max-width:100%;vertical-align:top;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal; margin-top:1em}
iframe{vertical-align:top;}

/* 默认 */
strong{font-weight:800;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}

/* 表单 */
input,textarea,select,button{outline:none;resize:none;font-size:1rem;line-height:1.5;font-family:Helvetica,Arial,sans-serif;}
input,button{white-space:nowrap;vertical-align:middle;}
textarea{resize:none;overflow-y:auto;}

/* 链接 */
a{text-decoration:none;outline:none;cursor:pointer;}
a:link,label,body{-webkit-tap-highlight-color:transparent;-webkit-focus-ring-color:transparent;}
a:hover{text-decoration:none;}

@media (min-width:768px){
  body{-webkit-user-select:auto;}
}

h1{ font-size:1.875rem}
h2{ font-size:1.625rem}
h3{ font-size:1.5rem}
h4{ font-size:1.375rem}
h5{ font-size:1.25rem}
h6{ font-size:1.125rem}

p{ margin-top:1em}
blockquote{ border-left:#e9e9e9 .5rem solid; background-color:#f0f0f0; padding:1em; margin-top:1em}
article{margin:0 5%;}

#page{ max-width:768px; margin:0 auto;}

body{ color:#666;}
a{ color:#fa8919}

.logo{ font-size:2rem; text-align:center; padding:1em 0; border-bottom:#fafafa 1px solid}
nav{ border-bottom:#fafafa 1px solid}
nav a{ display:block; padding:1em 0;}


